/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
header h1 a:hover{
    color: #333;
    background-color: #fff;
    text-decoration: none;
}
.top-buffer{ 
    margin-top:20px;
}
.right-buffer{
    margin-right: 20px;
}
.bottom-buffer{
    margin-bottom: 20px;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.upper{
    top: 0;
}
.right{
    right: 0;
}
.border-bottom{
    border-bottom: 1px solid #ccc;
}

.main-wrapper{
    padding: 20px;
    border: 1px solid #ccc;
}

.main-container{
    padding-bottom: 20px;
    width: 680px;
    margin: 0 auto 20px auto;
}
